body{
    background-color: #2C5263;
    background-size:100px 100px;
    max-height: 700px;
}
.judul{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 70px;
}
.subjudul{
    font-family: 'Poetsen One';
    font-size: 70px;
}
img.kanan{
    float: right;
    margin: 5px;
}
.atas{
    max-width: 100%;
    margin: auto;
    padding-top: 0%;
    display: flex;
    background-image:url(awan.png);
    background-size: 100% 100%;
    justify-content: center;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.atas div{
    box-sizing: border-box;
    display: flex;
    padding: 50px;
}
.bawah{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
}
img.bali{
    justify-content: left;
}
img.gedung{
    margin-bottom: 5px;
    margin-left: 5px;
}
img.borobudur{
    display: block;
    margin-left: 20px;
}
.Borobudur{
    position: relative;
}
p.candib{
    position: absolute;
    left: 58px;
    top: 280px;
    color: black;
    font-family: 'Poetsen One';
    font-size: 26px;
}
p.magelang{
    position: absolute;
    left: 120px;
    top: 310px;
    color: black;
    font-family: 'Quicksand';
    font-size: 25;
}
p.jt{
    position: absolute;
    left: 100px;
    top: 335px;
    color: black;
    font-family: 'Quicksand';
    font-size: 25;
}
.Fort{
    position: relative;
}
p.fort{
    position: absolute;
    left: 58px;
    top: 280px;
    color: black;
    font-family: 'Poetsen One';
    font-size: 26px;
}
p.makassar{
    position: absolute;
    left: 127px;
    top: 310px;
    color: black;
    font-family: 'Quicksand';
    font-size: 25;
}
p.ss{
    position: absolute;
    left: 85px;
    top: 335px;
    color: black;
    font-family: 'Quicksand';
    font-size: 25;
}
.Tirta{
    position: relative;
}
p.tirta{
    position: absolute;
    left: 85px;
    top: 280px;
    color: black;
    font-family: 'Poetsen One';
    font-size: 26px;
}
p.karang{
    position: absolute;
    left: 110px;
    top: 315px;
    color: black;
    font-family: 'Quicksand';
    font-size: 23;
}
p.bali{
    position: absolute;
    left: 170px;
    top: 337px;
    color: black;
    font-family: 'Quicksand';
    font-size: 25;
}
.Prambanan{
    position: relative;
}
p.candip{
    position: absolute;
    left: 57px;
    top: 280px;
    color: black;
    font-family: 'Poetsen One';
    font-size: 26px;
}
p.klaten{
    position: absolute;
    left: 140px;
    top: 310px;
    color: black;
    font-family: 'Quicksand';
    font-size: 25;
}
p.jate{
    position: absolute;
    left: 100px;
    top: 335px;
    color: black;
    font-family: 'Quicksand';
    font-size: 25;
}
.Kota{
    position: relative;
}
p.kota{
    position: absolute;
    left: 62px;
    top: 280px;
    color: black;
    font-family: 'Poetsen One';
    font-size: 26px;
}
p.taman{
    position: absolute;
    left: 118px;
    top: 310px;
    color: black;
    font-family: 'Quicksand';
    font-size: 25;
}
p.jb{
    position: absolute;
    left: 100px;
    top: 335px;
    color: black;
    font-family: 'Quicksand';
    font-size: 25;
}